body {
    font-family: Arial;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 400px;
    margin: 50px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

h1 {
    color: green;
}

input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
}

button {
    background: green;
    color: white;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
}

button:hover {
    background: darkgreen;
}

#result {
    margin-top: 20px;
    text-align: left;
}
